@font-face {
    font-family: 'Sanomat Sans';
    src: url('SanomatSans-Regular.woff2') format('woff2'),
        url('SanomatSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Sanomat Sans';
    src: url('SanomatSans-Italic.woff2') format('woff2'),
        url('SanomatSans-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}



@font-face {
    font-family: 'Sanomat Sans';
    src: url('SanomatSans-Medium.woff2') format('woff2'),
        url('SanomatSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Sanomat Sans';
    src: url('SanomatSans-MediumItalic.woff2') format('woff2'),
        url('SanomatSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

