/* 
@font-face {
    font-family: 'Sanomat Sans Hairline';
    src: url('SanomatSans-Hairline.woff2') format('woff2'),
        url('SanomatSans-Hairline.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}


@font-face {
    font-family: 'Sanomat Sans Hairline';
    src: url('SanomatSans-HairlineItalic.woff2') format('woff2'),
        url('SanomatSans-HairlineItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
} */

@font-face {
    font-family: 'Sanomat Sans';
    src: url('SanomatSans-Thin.woff2') format('woff2'),
        url('SanomatSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Sanomat Sans';
    src: url('SanomatSans-ThinItalic.woff2') format('woff2'),
        url('SanomatSans-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Sanomat Sans';
    src: url('SanomatSans-ExtraLight.woff2') format('woff2'),
        url('SanomatSans-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Sanomat Sans';
    src: url('SanomatSans-ExtraLightItalic.woff2') format('woff2'),
        url('SanomatSans-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}


@font-face {
    font-family: 'Sanomat Sans';
    src: url('SanomatSans-Light.woff2') format('woff2'),
        url('SanomatSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Sanomat Sans';
    src: url('SanomatSans-LightItalic.woff2') format('woff2'),
        url('SanomatSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Sanomat Sans';
    src: url('SanomatSans-Regular.woff2') format('woff2'),
        url('SanomatSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Sanomat Sans';
    src: url('SanomatSans-Italic.woff2') format('woff2'),
        url('SanomatSans-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}





@font-face {
    font-family: 'Sanomat Sans';
    src: url('SanomatSans-Medium.woff2') format('woff2'),
        url('SanomatSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Sanomat Sans';
    src: url('SanomatSans-MediumItalic.woff2') format('woff2'),
        url('SanomatSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}


@font-face {
    font-family: 'Sanomat Sans';
    src: url('SanomatSans-Bold.woff2') format('woff2'),
        url('SanomatSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'Sanomat Sans';
    src: url('SanomatSans-BoldItalic.woff2') format('woff2'),
        url('SanomatSans-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}



@font-face {
    font-family: 'Sanomat Sans';
    src: url('SanomatSans-ExtraBold.woff2') format('woff2'),
        url('SanomatSans-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}



@font-face {
    font-family: 'Sanomat Sans';
    src: url('SanomatSans-ExtraBoldItalic.woff2') format('woff2'),
        url('SanomatSans-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Sanomat Sans';
    src: url('SanomatSans-Black.woff2') format('woff2'),
        url('SanomatSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}



@font-face {
    font-family: 'Sanomat Sans';
    src: url('SanomatSans-BlackItalic.woff2') format('woff2'),
        url('SanomatSans-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}



@font-face {
    font-family: 'Sanomat Sans Stencil';
    src: url('SanomatSansStencil-BlackIta.woff2') format('woff2'),
        url('SanomatSansStencil-BlackIta.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}


@font-face {
    font-family: 'Sanomat Sans Stencil';
    src: url('SanomatSansStencil-Black.woff2') format('woff2'),
        url('SanomatSansStencil-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}