#page-about{

    #about-content{
        max-width: var(--max-width-content);
        h1, h2{
            display: inline-block;
            @include title();
            margin-top: calc(var(--baseline)*2);
            &:first-of-type{ margin-top: 0; }
        }
    }

    #bureaux{

        margin-top: calc(var(--baseline)*2);

        & > h1 {
            // display: inline-block;
            // @include title();
            margin-bottom: calc(var(--baseline)*2);
        }

        article{
            width: 370px;
            display: inline-block;
            vertical-align: top;
            margin-bottom: calc(var(--baseline)*1.5);
            &:nth-last-of-type(even){
                margin-right: calc(var(--unit)*3);
            }
            
            h1{
                font-weight: 500;
                font-size: var(--font-size);
                &::after{ display: none; }
            }

            ul li{
                margin-bottom: calc(var(--baseline)*0.25);
                
                @include trait(1px);
                padding-left: 28px;
                text-indent: -28px;
                

                
            }

        }
        
       
    }

  
    
}