#container-single-actions{
    max-width: var(--max-width-content);

    header{
        
        margin-bottom: calc(var(--baseline)*2);
 

        h1{
            display: inline-block;
            @include title();
            font-size: calc(var(--font-size)*1.8);
            line-height: calc(var(--baseline)*1.5);
            font-weight: 500;
            margin: 0;
            margin-bottom: calc(var(--baseline)*1.5);
            
            &:after{
                height: 2.5px;
                top: 5px;
            }
        }

        .date, .lieu{
            @include trait(2px);
            margin-right:  calc(var(--unit)*2);
            display: inline-block;
        }
    
        .type{
            float: right;
            display: inline-block;
            text-transform: uppercase;
            font-size: 0.7em;
            font-weight: 400;
            letter-spacing: 0.2px;
            margin-top: 4px;
            @include surligne();
        }

    }

    .content{
        &:before, &:after{
            content: "";
            display: block;
            width: 100%;
            margin-top: calc(var(--baseline)*3);
            padding-top: calc(var(--baseline)*2);
            // float: right;
            border-top: 2px dotted var(--current-color);
            transform: rotate(1deg);
        }

        h1{
            @include title();
            display: inline-block;
            margin-top: calc(var(--baseline)*1.5);
            margin-bottom: calc(var(--baseline)*1);
        }

        h2{
            margin: 0;
            margin-top: calc(var(--baseline)*1.5);
            margin-bottom: calc(var(--baseline)*0.5);
            font-size: var(--font-size);
            font-weight: 500;

        }

        h1 + h2{
            margin-top: calc(var(--baseline)*0.5);
        }

        h3{
            margin: 0;
            margin-top: calc(var(--baseline)*1);
            margin-bottom: calc(var(--baseline)*0.5);
            font-size: var(--font-size);
            font-weight: 400;
            text-decoration: underline;
            padding-left: calc(var(--unit)*3);
            // font-style: italic;

        }

        h4{
            margin: 0;
            margin-top: calc(var(--baseline)*1);
            font-size: var(--font-size);
            font-weight: 400;
            padding-left: calc(var(--unit)*3);
            font-style: italic;

        }
    }

    

    .publish-date{
        font-style: italic;
        // padding-top: calc(var(--baseline)*2);
        text-align: right; 
    }
}