#container-single-actions{
    max-width: var(--max-width-content);

    header{
        
        margin-bottom: calc(var(--baseline)*2);
 

        h1{
            @include title-big();
            margin-bottom: calc(var(--baseline)*1.5);
            margin-top: calc(var(--baseline)*2);
        }

        .date, .lieu{
            @include trait(2px);
            margin-right:  calc(var(--unit)*2);
            display: inline-block;
        }
    
        .type{
            position: absolute;
            right: var(--unit);
            display: inline-block;
            text-transform: uppercase;
            font-size: 0.7em;
            font-weight: 400;
            letter-spacing: 0.2px;
            margin-top: 4px;
            @include surligne();
        }

      

        .tags{     
            @include tags-block-content();   
            @media screen and (min-width: 1480px){
                margin-top: calc(var(--baseline)*7);
            }
            @include for-size(phone) {
                margin-top: calc(var(--baseline)*0.5);
            }
         
         
        }

        .summary{
            // border: 1px dotted currentColor;
          
            margin-top: calc(var(--baseline)*2);
            margin-bottom: calc(var(--baseline)*4);
            @include for-size(desktop) {
                padding: 0 calc(var(--unit)*3);
                border-left: 2px dotted var(--current-color);
                border-right: 2px dotted var(--current-color);
            }
            &:before{
                @include borderDotted(-1deg);
                top: calc(var(--baseline) * -1);
                
            }
            &:after{
                @include borderDotted(1deg);
                top: var(--baseline);
            }
        }

    }

    .content{
        &:after{
            @include borderDotted(1deg);
            margin-top: calc(var(--baseline)*4);
            padding-top: calc(var(--baseline)*2);
            // float: right;
        }

      
    }

    

    .publish-date{
        font-style: italic;
        // padding-top: calc(var(--baseline)*2);
        text-align: right; 
    }

    .documents{
        margin-top: calc(var(--baseline)*4);
        margin-bottom: calc(var(--baseline)*-2);
        
        &:before{
            @include borderDotted(-1deg);
            padding-top: calc(var(--baseline)*2);
        }
        span{ 
            font-weight: 500;
            padding-right: 40px;
        }
        svg{
            width: 17px;
            fill: currentColor;
            position: relative;
            top: 2px;
            left: -5px;
        }
    }
}