#breves,
#page-breves{
    
    .grid{
        width: 100%;
    }

    .grid-sizer,
    .grid-item { width: 33%; }

    @media screen and (max-width: 1200px){
        .grid-sizer,
        .grid-item { width: 50%; }
    }
    article{
        margin-bottom: calc(var(--baseline)*1.5);
        padding-right: calc(var(--baseline)*2);

        &::after{
            content: "";
            display: block;
            padding-top: calc(var(--baseline)*1.5);
            border-bottom: 2px solid var(--color-8);
            transform: rotate(1deg);
            opacity: 0.4;
        }

        h1{
            font-size: var(--font-size);
            line-height: calc(var(--baseline)*1); 
            // font-size: var(--font-size-small);
            // line-height: calc(var(--baseline)*0.75);   
            font-weight: 400;
            color: var(--color-breves);
            
        }

        strong{
            font-weight: 400;
            font-style: italic;
            background-color: var(--background-color);
        }
        p{
            margin-bottom: calc(var(--baseline)*0.25);   
            font-size: var(--font-size-small);
            line-height: calc(var(--baseline)*0.75);
        }

        .content a{
            color: currentColor;
            border-bottom: 1px dashed var(--color-breves);
        }

        .more{
            display: block;
            color: currentColor;
            margin-top: calc(var(--baseline)*0.5);
            font-size: var(--font-size-small);
            @include trait-double-small();
        }

    }
}