#breves,
#page-breves{
    
    .grid{
        width: 100%;
    }

    .grid-sizer,
    .grid-item { width: 33%; }

    @media screen and (max-width: 1200px){
        .grid-sizer,
        .grid-item { width: 50%; }
    }

    @include for-size(phone){
        .grid-sizer,
        .grid-item { width: 100%; }

        .grid-item{
            position: relative!important;
            top: 0!important;
            left: 0!important;
        }
        .grid{
            height: auto!important;
        }

        .grid-item:nth-of-type(5),
        .grid-item:nth-of-type(6),
        .grid-item:nth-of-type(7),
        .grid-item:nth-of-type(8),
        .grid-item:nth-of-type(9),
        .grid-item:nth-of-type(10){
            display: none;
        }
    }

    article{

        p a{ 
            border-bottom: 1px dotted var(--current-color)!important;
            @include links(); 
        }
        
         margin-bottom: calc(var(--baseline)*1.5);
        @include for-size(desktop){
            
            padding-right: calc(var(--baseline)*2);
        }

        &::after{
            content: "";
            display: block;
            padding-top: calc(var(--baseline)*1.5);
            @include for-size(phone){ 
                padding-top: calc(var(--baseline)*2);
            }
            border-bottom: 2px solid var(--color-8);
            transform: rotate(1deg);
            opacity: 0.4;
        }

        h1{
            font-size: var(--font-size);
            line-height: calc(var(--baseline)*1); 
            // font-size: var(--font-size-small);
            // line-height: calc(var(--baseline)*0.75);   
            font-weight: 400;
            color: var(--color-breves);
            
        }

        strong{
            font-weight: 400;
            font-style: italic;
            background-color: var(--background-color);
        }
        p, li{
            margin-bottom: calc(var(--baseline)*0.25);   
            font-size: var(--font-size-small);
            line-height: calc(var(--baseline)*0.75);
        }

        .content a{
            color: currentColor;
            border-bottom: 1px dashed var(--color-breves);
        }

        .more{
           
            @include for-size(phone){
                width: 100px;
                position: absolute;
                right: -5px;
                bottom: 36px;
            }
        }

    }
}