#container-list-membres{

    max-width: var(--max-width-list);
    .post-membre{
        margin-bottom: calc(var(--baseline)*3.5);

        figure {
            overflow:hidden;
            width: 90px;
            height: 90px;
            margin: 0;
            background-color: var(--current-color);
            position: absolute;
            top: 0;
            left: 0;
            border: 1px solid var(--current-color);
            img{ 
                @include img-filtre();
            }
        }
    }

    

    
    h1{
        @include title();
        display: inline-block;
        a{ color:  var(--current-color); }
        margin-top: 0;
        position: relative;
        left: -13px;
        &:hover::after{
            transform: rotate(0deg);
        }
        
       
    }

    h2{
        font-weight: 500;
        font-size: var(--font-size);
        margin-top: 0;
        span{display: none; }
    }

    .type-membre{
    
            font-weight: 400;
            font-size: var(--font-size-small);
            letter-spacing: 0.2px;
            @include surligne();

    
    }

    .tags{
        margin-top: calc(var(--baseline)*0.5);
        @include tags-block-list();
     
    }


   

   

    .these-start{
        padding-right: 0.5ch;
       
        display: inline-block;
    }

    .these-end{
        display: inline-block;
        &:before{
            content: "⇥";
            padding-right: 1ch;
        }
    }

  
    .these-cnu, .these-etablissement{
        @include trait(2px);
    }

   
    @include for-size(desktop){
        .hgroup{
       
            min-height: 90px;
            position: relative;
        }
    
        h1, h2, .tags{
            margin-left: 145px;
        }

        .type-membre{

            float: right;
            text-align: right;
            margin-bottom: 0;

    
    }

        .bandeau{
            padding-bottom: calc(var(--baseline)*0.5);
            margin-top: calc(var(--baseline)*1);
            min-height: 40px;
    
            p{ margin: 0; }
    
            .dates-these{
                position: absolute;
            }
        }

        .these-cnu, .these-etablissement{
            padding-left: 15.5ch;
            text-indent: -2ch;
        }
    
    }

    @include for-size(phone){

    
        h1 {
            margin-left: 120px;
            margin-top: calc(var(--baseline)*2)!important;
            margin-bottom: calc(var(--baseline)*1.5)!important;
        }

        .these-cnu, .these-etablissement, .dates-these{
            padding-left: 22px;
            text-indent: -22px;
        }

        .type-membre{
            display: inline-block;
            position: absolute; 
            right: 0;
            top: 0;
            // top:calc(var(--baseline)*-1.5)
        }

        .dates-these{ 
            margin-top: calc(var(--baseline)*0.5);
            @include trait(2px);
            .these-start{ 
                margin-left: 20px;
                margin-right: 22px;
            }
        }

    }


  
    
}


@include for-size(phone){
    #page-membres .title-list{
        margin-bottom :calc(var(--baseline)*3)
    }
}