#container-single-membres{
    max-width: var(--max-width-content);
    a{ color: currentColor; }

    header{
        
        margin-bottom: calc(var(--baseline)*2);
        min-height: 200px;

        figure {
            overflow:hidden;
            width: 200px;
            height: 200px;
            // height: 200px;
            margin: 0;
            background-color: var(--current-color);
            border: 1px solid var(--current-color);
            img{ 
                @include img-filtre();
            }
        }

      

        h1{
            @include title-big();
            margin-bottom: calc(var(--baseline)*1.5);
        }

       

        .type-membre{
            font-weight: 400;
            font-size: var(--font-size-small);
            letter-spacing: 0.2px;
            margin-bottom: 0;
            @include surligne();
        }

       

        .contact, .socials{
           font-size: var(--font-size-small);
           li{ display: block; }
           a{ 
            color: currentColor; 
            @include links()
          }
        }

       .contact{
           .icon-svg{
               position: relative;
               top: 2px;
           }
       }

     

        
    }

    .tags{
        margin-top: calc(var(--baseline)*1);
       @include tags-block-content();

    }

    .these-infos{
           
            &:before{
                @include borderDotted(-1deg);
                top: calc(var(--baseline) * -1);
                
            }
            &:after{
                @include borderDotted(1deg);
                top: var(--baseline);
            }

    
           

           .title-thesis-fr{
               font-weight: 500;
               .lang{
                   &:before{ content: "fr"}
                   font-weight: normal;
               }

           }

           .title-thesis-en{
               font-style: italic;
               margin-top: calc(var(--baseline)*0.5);
                .lang::before{ 
                    content: "en";
                    font-style: normal;
                }
           } 
        

            .title-thesis-fr, .title-thesis-en{
                padding-left: calc(var(--unit)*3);
                .lang{ 
                    position: absolute;
                    left: 0;
                    font-size: var(--font-size-small);
                    text-transform: uppercase;
                }
          
            }

            @media screen and (max-width: 500px){
                .title-thesis-fr, .title-thesis-en{
                    padding-left: 0;
                    .lang{ 
                        padding-left: calc(var(--unit)*2);
                        position: relative;
                        display: block;
                   
                    }
              
                }
            }

            .infos{
                margin-top: calc(var(--baseline)*1.5);
                margin-bottom: calc(var(--baseline)*1);
                li{
                    @include trait(2px);
                    margin-bottom: calc(var(--baseline)*0.25);
                    .type-info{ 
                        font-size: var(--font-size-small); 
                    }
                    .texte-info, .these-end{
                        display: block;
                        margin-left: 22px;
                    }
                }
            }

            a{ 
                @include links();
             }

            .links-these {
                margin-top: calc(var(--baseline)*1.5);
                margin-bottom: calc(var(--baseline)*0.5);
                li{
                    @include trait-double-small();
                    display: inline-block;
                    margin-right: calc(var(--unit)*2);
                    text-decoration: none!important;
                }
            }
    }

    .content{
        .fr, .en{
            padding-left: calc(var(--unit)*3);
            margin-bottom: var(--baseline);
            &::before{
                position: absolute;
                left: 0;
                font-size: var(--font-size-small);
                text-transform: uppercase;
            }
        }
        @media screen and (max-width: 500px){
            .fr, .en{
                padding-left: 0;
                &::before{
                    padding-left: calc(var(--unit)*2);
                    position: relative;
                    display: block;
                    margin-bottom: calc(var(--baseline)*0.5);
                }
            }

        }
        .fr::before{ content: "fr"; }
        .en::before{ content: "en"; }
    }


    @media screen and (min-width: 540px){
        header{
            figure {
                overflow:hidden;
                margin: 0;
                float: left; 
                margin-right: calc(var(--unit)*3)!important;       
            }

            .type-membre{
                position: absolute;
                right: 0;
                top: calc(var(--baseline)*-1.5);;
            }
            .contact, .socials{
                display: inline-block;
                vertical-align: top;
            }
            .contact{
                min-width: 30ch;
            }
        }

        .these-infos{
            padding: 0 calc(var(--unit)*3);
            margin-top: calc(var(--baseline)*2);
            margin-bottom: calc(var(--baseline)*3);
            border-left: 2px dotted var(--current-color);
            border-right: 2px dotted var(--current-color);
        }
    }

    @media screen and (max-width: 540px){
        header{
            figure{
                margin: 0 auto!important;
            }

            .type-membre{
    
                position: absolute;
                right: 0;
                top: 230px;
                float: right;
            
            }

            h1{
                margin-top: calc(var(--baseline)*2.5);
            
            }
        }

        .these-infos{
            margin-top: calc(var(--baseline)*4);
            margin-bottom: calc(var(--baseline)*2.5);
            &:before{
                top: calc(var(--baseline) * -1.5);
                
            }

            .links-these li{
                display: block;
                margin-bottom: calc(var(--baseline)*0.25);
            }
         
        }
    }



   


}