#container-list-membres{

    max-width: var(--max-width-list);
    .post-membre{
        margin-bottom: calc(var(--baseline)*3.5);

        figure {
            overflow:hidden;
            width: 90px;
            height: 90px;
            margin: 0;
            background-color: var(--current-color);
            position: absolute;
            top: 0;
            left: 0;
            border: 1px solid var(--current-color);
            img{ 
                @include img-filtre();
            }
        }
    }

    .hgroup{
        min-height: 90px;
        position: relative;
    }

    h1, h2, .tags{
        margin-left: 145px;
    }
    h1{
        @include title();
        display: inline-block;
        a{ color:  var(--current-color); }
        margin-top: 0;
        position: relative;
        left: -13px;
        &:hover::after{
            transform: rotate(0deg);
        }
        
       
    }

    h2{
        font-weight: 500;
        font-size: var(--font-size);
        margin-top: 0;
        span{display: none; }
    }

    .type-membre{

            float: right;
            text-align: right;
            font-weight: 400;
            font-size: var(--font-size-small);
            letter-spacing: 0.2px;
            margin-bottom: 0;
            @include surligne();

    
    }

    .tags{
        margin-top: calc(var(--baseline)*0.5);
        @include tags-block-list();
     
    }


   

    .bandeau{
        padding-bottom: calc(var(--baseline)*0.5);
        margin-top: calc(var(--baseline)*1);
        min-height: 40px;

        p{ margin: 0; }

        .dates-these{
            position: absolute;
        }
        // &::after{
        //     content: "";
        //     display: block;
        //     width: 100%;
        //     border-top: 1px solid var(--current-color);
        //     transform: rotate(1deg);
        //     position: relative;
        //     top: var(--baseline);
        // }
    }


    .these-start{
        padding-right: 0.5ch;
        display: inline-block;
    }

    .these-end{
        display: inline-block;
        &:before{
            content: "⇥";
            padding-right: 1ch;
        }
    }

    .these-cnu, .these-etablissement{
        padding-left: 15.5ch;
        text-indent: -2ch;
        @include trait(2px);
    }

    // .these-etablissement{    
    //     font-style: italic;
    // }

  
    
}