<article class="post-actions">
    <!-- <img class="rounded card-img-top" src="{{.Params.Image | relURL}}" alt="{{.Title }}"> -->
      <h1><a href="{{.Permalink}}">{{.Title }}</a></h1>
      <p class="type">{{ .Params.category }}</p>
      <div>
        <p class="date">  
          <time>
          
            {{ .Date.Day }}
            {{ index $.Site.Data.mois (printf "%d" .Date.Month) }}
            {{ .Date.Year }}<span class="horaire">, 
          {{ if .Params.time }}{{ .Params.time }}{{ end }}</time></span>
        </p>
        {{ if .Params.lieu }}<p class="lieu">{{ .Params.lieu }}</p>{{ end }}
        </div>
      <p class="summary">
        <span class="description">{{ if .Params.description }}{{.Params.description}}{{ end }}</span>
        <!-- <span class="description-temp">{{ if .Params.descriptiontemp }}{{.Params.descriptiontemp}}{{ end }}</span> -->
      </p>
      {{ if .Params.tags }}
      <ul class="tags">
        <!-- {{range .Params.tags}}<li>{{ . }}</li> {{end}} -->
           {{range .Params.tags}}<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li> {{end}}
      </ul>
      {{end}}
      <a class="more" href="{{.Permalink}}">Voir plus</a>
  </article>

  <script>
    window.onload = function(){ 
      let post = document.getElementsByClassName("post-actions")[0];
      let date = post.getElementsByClassName("date")[0];
      date.innerHTML = "<time>21 janvier 2021, 18h</time>"
      console.log(date)
    }
  </script>