<article class="post-actions">
    <!-- <img class="rounded card-img-top" src="{{.Params.Image | relURL}}" alt="{{.Title }}"> -->
      <h1><a href="{{.Permalink}}">{{.Title }}</a></h1>
      <p class="type">{{ .Params.category }}</p>
      <div>
        <p class="date">  
          <time>       
            {{ if .Params.dateevent }}{{ .Params.dateevent.Day }} {{ index $.Site.Data.mois (printf "%d" .Params.dateevent.Month) }} {{ .Params.dateevent.Year }}
            {{ else }}
            {{ .Date.Day }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}
            {{ end }}{{ if .Params.time }}<span class="horaire">, {{ .Params.time }}</span>{{ end }}
          </time>
        </p>
        {{ if .Params.lieu }}<p class="lieu">{{ .Params.lieu }}</p>{{ end }}
        </div>
      <p class="summary">
        <span class="description">{{ if .Params.description }}{{.Params.description}}{{ end }}</span>
        <!-- <span class="description-temp">{{ if .Params.descriptiontemp }}{{.Params.descriptiontemp}}{{ end }}</span> -->
      </p>
      {{ if .Params.tags }}
      <ul class="tags">
        <!-- {{range .Params.tags}}<li>{{ . }}</li> {{end}} -->
           {{range .Params.tags}}<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li> {{end}}
      </ul>
      {{end}}
      <a class="more" href="{{.Permalink}}">Voir plus</a>
  </article>

