<svg width="100%" height="100%" viewBox="0 0 60 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-miterlimit:1.5;">
    <g id="fond" transform="matrix(1.03887,0,0,1.03887,-3.27717,-2.27579)"><circle cx="31.989" cy="31.158" r="28.844"/></g>
    <path id="trait-bas" class="trait" d="M15.38,41.832L37.463,44.928" style="fill:none;stroke:white;stroke-width:2px;"/>
    <path id="trait-haut" class="trait" d="M50.725,19.181L7.442,22.993" style="fill:none;stroke:white;stroke-width:2px;"/>
</svg>
