{{ define "main" }}


<h1 class="title-list"><a href="/membres">Annuaire des membres</a></h1>

    <div class="container-main" id="container-list-membres">

      <h2>Bureau </h2>

        <!-- Président•e-->

        {{ range .Pages }}
        {{ if .Params.membre_bureau }}
        {{ if  or (eq .Params.bureau  "Présidente") (eq .Params.bureau  "Président")  }}
        {{ .Render "post" }}
        {{ end }}
        {{ end }}
        {{ end }}

         <!-- Bureau -->
        {{ range .Pages.ByParam "name" }}
        {{ if .Params.membre_bureau }}
        {{ if  not (or (eq .Params.bureau  "Présidente") (eq .Params.bureau  "Président"))  }}
        {{ .Render "post" }}
        {{ end }}
        {{ end }}
        {{ end }}


        <h2>Membres actifs </h2>

        <div>

        {{ range .Pages.ByParam "name" }}
        {{ if and (.Params.membre_actif) (not .Params.membre_bureau) }}
        {{ .Render "post" }}
        {{ end }}
        {{ end }}

      </div>

  
        <h2>Anciens membres </h2>

        <div>
     
        {{ range .Pages.ByParam "name" }}
        {{ if not .Params.membre_actif }}
        {{ .Render "post" }}
        {{ end }}
        {{ end }}

      </div>


      </div>

{{ end }}