{{ define "main" }}


<h1 class="title-list"><a href="/membres">Annuaire des membres</a></h1>

    <div class="container-main" id="container-list-membres">

      <h2>Bureau </h2>

      {{ range .Data.Pages }}
        {{ if .Params.membre_bureau }}
        {{ .Render "post" }}
        {{ end }}
        {{ end }}

        <h2>Membres actifs </h2>

        {{ range .Data.Pages }}
        {{ if .Params.membre_actif }}
        {{ if not .Params.membre_bureau }}
        {{ .Render "post" }}
        {{ end }}
        {{ end }}
        {{ end }}

        <h2>Anciens membres </h2>
     
        {{ range .Data.Pages }}
        {{ if not .Params.membre_actif }}
        {{ .Render "post" }}
        {{ end }}
        {{ end }}
      </div>

{{ end }}