<article class="post-membre {{ if .Params.membre_actif }}membre-actif{{end}}">
    <!-- <img class="rounded card-img-top" src="{{.Params.Image | relURL}}" alt="{{.Title }}"> -->

    <div class="hgroup">
    <figure>
        <a href="{{.Permalink}}">
        {{ if .Params.photo }}<img src="{{ .Params.photo }}">{{ end }}
        </a>
    </figure>
    {{ if .Params.membre_actif }}<p class="type-membre">{{ if .Params.membre_bureau }}{{ if .Params.bureau }}{{ .Params.bureau }}{{else}}Bureau{{end}}{{else}}Membre actif{{end}}</p>{{end}}




         <h1><a href="{{.Permalink}}">{{.Title }}</a> </h1>

        <h2><span>Thèse: </span>{{ .Params.titrethese | safeHTML }}</h2>
    </div>

    {{ if .Params.tags }}
      <ul class="tags">
        <!-- {{range .Params.tags}}<li>{{ . }}</li> {{end}} -->
           {{range .Params.tags}}<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li> {{end}}
      </ul>
      {{end}}

      <div class="bandeau">       
          <div class="dates-these">
            {{ if .Params.these_start }}<p class="these-start">{{ .Params.these_start }}</p> {{ end }}
                {{ if .Params.these_soutenue }}<p class="these-end">{{ .Params.these_end }}</p>{{ end }}
            </div>
            {{ if .Params.section_cnu }} <p class="these-cnu">{{ .Params.section_cnu }}</p>{{ end }}
            {{ if .Params.etablissement }}<p class="these-etablissement">{{ .Params.etablissement | safeHTML }}</p>{{ end }}
     
    </div>
   
  </article>
