
{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $namemember := .Title }}

<section class="section" id="section-membre-single">
  <div class="container">
       <p>TEMPLATE MEMBRES</p>
        <h1>{{$namemember}}</h3>
          {{ if .Params.section_cnu }}<p class="section-cnu">{{ .Params.section_cnu }}</p>{{ end }}
        
        <div class="description"><p>{{.Description }}</p></div>
        <div class="content">
          {{.Content }}
        </div>
  </div>
</section>


</section>
{{ with .Site.GetPage "section" "instagram" }}
{{ range .Pages.ByDate.Reverse }}
{{ if eq .Title $namemember }}
<section id="section-instagram">
<h2>Résidence instagram</h2>
<div id="container-instagram">
{{ .Content }}
</div>
</section>
{{ end }}
{{ end }}
{{ end }}



{{ end }}


