body{
    --font: 'Sanomat Sans';
    --font-title: 'Sanomat Sans';
    --twitter: 340px; /* 300px + margins */
    font-family: var(--font);
    --unit: 12px;
    --font-size: 18px;
    --baseline: 26px;
    --font-size-small: 14px;
    --margin-top: 75px;
    font-size: var(--font-size);
    line-height: var(--baseline);

    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;


}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}



ol,
ul {
  list-style-type: none;
  margin: 0
}

a,
a:hover,
a:focus {
  text-decoration: none
}

a,
button,
select {
  cursor: pointer;
  transition: .2s ease
}

a:focus,
button:focus,
select:focus {
  outline: 0
}


.icon-svg{
  width: 14px;
  margin-right: 7px;
  position: relative;
  top: 1px;
  svg{ 
      width: 14px;
      fill: var(--current-color);
  }
}




@mixin trait($size){
  &::before{
    content: "";
    display: inline-block;
    border-bottom: $size solid currentColor;
    width: 12px;
    margin-right: 10px;
    transform: rotate(-4deg);
    position: relative;
    top: -5px;
  }
}





@mixin surligne(){
  &:after{
    content: "";
    display: block;
    position: relative;
    width: calc(100% + 20px);
    left: -10px;
    height: calc(var(--baseline)*0.8);
    background-color: currentColor;
    opacity: 0.1;
    top: calc(-1*var(--baseline));
    transform: rotate(-2deg);
}
}



@mixin borderDotted($deg){
  content: "";
  display: block;
  width: 100%;
  position: relative;
  border-top: 2px dotted var(--current-color);
  transform: rotate($deg);
}






@mixin img-filtre(){
  width: 100%;
  filter: grayscale(100%);
  mix-blend-mode: screen;
}


