body{
    --font: 'Sanomat Sans';
    --font-title: 'Sanomat Sans';
    --twitter: 340px; /* 300px + margins */
    font-family: var(--font);
    --unit: 12px;
    --font-size: 18px;
    --baseline: 26px;
    --font-size-small: 14px;
    --margin-top: 75px;
    font-size: var(--font-size);
    line-height: var(--baseline);

    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;


}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}



ol,
ul {
  list-style-type: none;
  margin: 0
}

a,
a:hover,
a:focus {
  text-decoration: none
}

a,
button,
select {
  cursor: pointer;
  transition: .2s ease
}

a:focus,
button:focus,
select:focus {
  outline: 0
}


@mixin trait(){
  &::before{
    content: "";
    display: inline-block;
    border-bottom: 2px solid currentColor;
    width: 12px;
    margin-right: 10px;
    transform: rotate(-4deg);
    position: relative;
    top: -5px;
  }
}

@mixin trait-double-small(){
  &::before{
    content: "";
    display: inline-block;
    border-bottom: 1px solid currentColor;
    width: 12px;
    margin-right: 8px;
    transform: rotate(-4deg);
    position: relative;
    top: -6px;
  }
  &::after{
      content: "";
      display: inline-block;
      border-bottom: 1px solid currentColor;
      width: 8px;
      transform: rotate(3deg);
      position: absolute;
      left: 2px;
      top: 16px
  }
  &:hover{
    text-decoration: underline ;
    &::before { transform: rotate(3deg); }
    &::after { transform: rotate(-4deg); }
  }
  
}

.more{
  display: block;
  color: currentColor;
  margin-top: calc(var(--baseline)*0.5);
  font-size: var(--font-size-small);
  @include trait-double-small();
  &:hover{ color: currentColor; }
}