#breves{
    --color-breves: var(--color-8);
    color: var(--color-breves);
    width: 100%;
    margin-bottom: 0!important;

    .section-title {
        display: inline-block;
        font-weight: 500;
        font-size: var(--font-size);
        text-transform: uppercase;
        letter-spacing: 0.3px;
        margin-bottom: calc(var(--baseline)*2);
        &::after{
            content: "";
            display: block;
            position: relative;
            width: calc(100% + 6px);
            height: 2px;
            left: -3px;
            background-color: currentColor;
            transform: rotate(-1.5deg);
        }
    }

    .link-archive{
        font-size: var(--font-size-small);
        position: absolute;
        top: 0;
        right: calc(var(--baseline)*2);
        color: currentColor;
        @include trait-double-small();
    }

    .grid{
        // display: grid;
        // grid-template-columns: repeat(4, 1fr);
        // grid-column-gap: calc(var(--baseline)*2);
        width: 100%;
    }

    .grid-sizer,
    .grid-item { width: 33%; }

    article{
        margin-bottom: calc(var(--baseline)*1.5);
        padding-right: calc(var(--baseline)*2);

        &::after{
            content: "";
            display: block;
            padding-top: calc(var(--baseline)*1.5);
            border-bottom: 2px solid var(--color-8);
            transform: rotate(1deg);
            opacity: 0.4;
        }

        h1{
            font-size: var(--font-size);
            line-height: calc(var(--baseline)*1); 
            // font-size: var(--font-size-small);
            // line-height: calc(var(--baseline)*0.75);   
            font-weight: 400;
            color: var(--color-breves);
            
        }

        strong{
            font-weight: 400;
            font-style: italic;
            background-color:rgba(146, 113, 251, 0.1);
        }
        p{
            margin-bottom: calc(var(--baseline)*0.25);   
            font-size: var(--font-size-small);
            line-height: calc(var(--baseline)*0.75);
        }

        .content a{
            color: currentColor;
            border-bottom: 1px dashed var(--color-breves);
        }

        .more{
            display: block;
            color: currentColor;
            margin-top: calc(var(--baseline)*0.5);
            font-size: var(--font-size-small);
            @include trait-double-small();
        }

    }
}