.content{

    a{
        @include links();
    }

    strong{
        font-weight: normal;
        background-color: var(--background-color);
    }

    em, i { font-style: italic; }
    
    ul li{
        @include trait(1px);
        padding-left: calc(var(--unit)*3);
        text-indent: calc(var(--unit) * -3);
        margin-bottom: calc(var(--baseline)*0.5);
    }

    blockquote{
        // border-left: 2px solid currentColor;
        padding-left: calc(var(--unit)*3);
        font-style: italic;
        &::before{
            content: "«";
            font-size: 40px;
            display: block;
            position: absolute; 
            top: -3px;
            left: 0;

        }
       
    }

    figure{
        width: 100%;
        img{ width: 100%;}
    }
}

.img-logos {
    margin-top: calc(var(--baseline)*1);
    figure, img{
        width: 120px;
        display: inline-block;   
    }
    img{
        padding-right: calc(var(--unit)*2);
    }

}