#footer{
    color: var(--color-1);
    font-size: var(--font-size-small);
   
  
    a, a:visited { color: var(--color-1); }
    a:hover{ text-decoration: underline; }
    ul{
        margin-bottom: calc(var(--baseline)*1);
    }
    p{
        line-height: calc(var(--baseline)*0.75);
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .socials li{
        display: block;
    }

    @include for-size(desktop){
        margin-left: calc(var(--unit)*4.5);
        margin-bottom: calc(var(--baseline)*2);
    }

    @include for-size(phone){
        margin-top: calc(var(--baseline)*4);
        // border-top: 1px solid var(--color-1);
        padding: var(--margin-phone);
    }
}