body{
    @include for-size(phone){
        --width-header: 100vw;
        --padding-header: calc(var(--unit)*4); 
        --margin-top-header: calc(var(--baseline)*1.5);
    }
    @include for-size(desktop){
        --width-header: 290px;
    }
    @media screen and (min-width: 1230px){
        --width-header: 400px;
    }
    @media screen and (min-width: 1680px){
        --width-header: 500px;
    }
}



header#header{
    transition: .3s ease;
    z-index: 100;
    @include for-size(desktop){
        position: fixed;
        width: var(--width-header);
        height: 100vh;
        padding-left: calc(var(--unit)*4.5);
        .navbar-toggler{ display: none;}
        #logo-small, #close-menu, #header-logo h1 { display: none; }
    }

    @include for-size(phone){  
        
        position: fixed;
        top: 0;
        width: 100vw;
        background-color: white;
    }


}

#header-logo {  
    @include for-size(desktop){
        left: -25px;   
        top: 40px;
        #logo {
            width: 100%;   
            position: absolute;
        } 
        #logo svg{
            width: 160px;
            display: block;
            fill: var(--color-1);
        }
    }   
    
    @include for-size(phone){   
        z-index: 100;  
        background-color: white;
        padding-top: 14px;
        padding-left: var(--margin-phone);
        padding-right: var(--margin-phone);
        padding-bottom: 3px;
        border-bottom: 1px solid var(--color-1);
        #logo { 
            display: none;
        }

        h1{ 
            margin-top: var(--padding-header);
            margin-bottom: calc(var(--baseline)*0.7);
            font-size: var(--font-size);
            font-weight: 600;
            letter-spacing: 0.3px;
            a{ color: currentColor; }
        }
    }  
    
    
    
}






#baseline{
    color: var(--current-color);
    padding: 0;
    margin: 0;
    height: 0;
    @include for-size(desktop){ 
         top: var(--margin-top);
         padding-left: calc(var(--unit)*4.5);
    }  
    @include for-size(phone){
        margin-top: 90px;
        padding: 0 var(--margin-phone);
        font-style: italic;
        &:first-letter{text-transform: capitalize; }  
        display: none;
    }  
   
}

#page-page #baseline{ display: block;}

#navigation{
  
    @include for-size(phone){
        position: fixed;
        width: 100vw;
        overflow: hidden;
        height: 100vh;
        top: 0;
        background-color: white;
        padding-top: calc(var(--baseline)*6);
        z-index: 50;
        ul li{
            font-size: calc(var(--font-size)*0.9);
            text-align: center;
            padding-bottom: calc(var(--baseline)*0.5);
        }
    }
    @include for-size(desktop){
        margin-top: 200px;
        ul li{
                font-size: calc(var(--font-size)*0.7);
        }
    }

    ul{
        li{
            font-weight: 500;
            letter-spacing: 0.7px;;
            text-transform: uppercase;
            padding-top: calc(var(--baseline)*0.25);
            a{ 
                color: currentColor;
                padding-bottom: 4px;
                transition: none;
                &:hover{
                    border-bottom: 2px solid currentColor;  
                }              
            }
        }
    }

}







/* BUTTONS NAV FOR SMALL SCREENS */
@include for-size(phone){

    #navigation, #close-menu{
        transition: top .6s;
    }

    #navigation{ top: calc(100vh*-1);}
    #close-menu { display: none; }
    #toggle-menu:checked ~ #navigation { top: 0; }
    #toggle-menu:checked ~ #label-toggle-menu #logo-small { display: none; }
    #toggle-menu:checked ~ #label-toggle-menu #close-menu { display: block; }
    

    #logo-small{
        #fond{ 
         fill:white!important; 
         stroke-width:1px!important;
        //  stroke:var(--color-1)!important;
      }    
        .trait{
             stroke:var(--color-1)!important;
             stroke-width:4px!important;
        } 
     }
     

     #label-toggle-menu {
        z-index: 9999999;
         width: 40px;
         height: 40px;
         position: fixed;
         right: calc(var(--unit)*2.5);
         top: 13px;
         #close-menu{
            font-size: 50px;
            font-weight: 300;
            left: 8px; 
            top: 10px;
         }
     }

     
     
 
}