
#home-page{

    --width-block-home: 63ch;

    .section-home{
        margin-bottom: calc(var(--baseline)*6);
    }

    #about{
        color: var(--color-4);
        width: 100%;
        max-width: var(--width-block-home);
        margin-left: calc(var(--width-block-home)*0.5);
        

        .social{
            margin-top: calc(var(--baseline)*1);
            p, ul, ul li { display: inline-block; }
            a{ color: currentColor; }

            ul li{
                padding-left: calc(var(--unit)*2);
                @include trait();                               
            }
            
        }
    }

    // .container-main{
    //     width: calc(100% - var(--twitter));
    // }


    #actions {

        width: 100%;
        max-width: var(--width-block-home);
        color: var(--color-3);

        .actions article, .highlights {
            margin-bottom: calc(var(--baseline)*2);
            &::after{
                content: "";
                display: block;
                padding-top: calc(var(--baseline)*1.5);
                border-bottom: 2px solid var(--color-2);
                transform: rotate(1deg);
            }
        }



        article{
            

            h1{
                color: var(--color-3);
                font-size: var(--font-size);
                line-height: calc(var(--baseline)*1);                
                font-weight: 500;
                a{ color: currentColor; }
            }

            .type{
                position: absolute;
                right: 0;
                top: 0;
                // color: var(--color-6);
                font-size: 0.7em;
                text-transform: uppercase;
                letter-spacing: 0.2px;
            }

            .date, .lieu{
                display: inline;
                margin-right:  calc(var(--unit)*2);
                @include trait();                    
                
            }

            .summary{
                margin-top: calc(var(--baseline)*0.25);
            }

            .more{
                display: block;
                color: currentColor;
                margin-top: calc(var(--baseline)*0.5);
                font-size: var(--font-size-small);
                @include trait-double-small();
            }

          

        }

        .highlights article{
            // color: var(--color-1);

                display: inline-block;
                vertical-align: top;
                width: 46%;
                &:first-of-type{ margin-right: 7%; }
                &:nth-of-type(2){
                    position: relative;
                    left: 10px;
                }

                svg {
                    width: 60px;
                    fill: var(--color-3);
                    margin-bottom: calc(var(--baseline)*0.5)
                }

                h1{
                    font-weight: 400;
                    font-size: 0.7em;
                    text-transform: uppercase;
                    position: absolute;
                    top: 30px;
                    right: 3px;
                    // left: 80px
                }

                .date, .lieu, .instagram{
                    display: block;
                    font-weight: 500;
                    &:before{ display: none; }
                }
                .summary{
                    margin-top: calc(var(--baseline)*0.5);
                }

              
            }
        
    }

   

}



/* ------------------------------------------------------------------------------ */
// #feed-tweeter{
//     float: right;
//     border: 2px solid var(--color);
//     border-radius: 5px;
//     margin: 20px 20px;
// }

// .section-home{
//     width: calc(100% - var(--twitter));
//     .container{
//         margin: 140px auto;
//     }

//     .section-title{
//         font-family: var(--font);
//         font-size: 34px;
//         font-weight: 800;
//         color: var(--color);
//         text-align: left;
//     }
// }



