
#main-page{

    --width-block-home: 63ch;

    .section-home{
        margin-bottom: calc(var(--baseline)*6);
    }

    #about{
        color: var(--color-4);
        width: 100%;
        max-width: var(--width-block-home);
        margin-left: calc(var(--width-block-home)*0.5);
        
        .social{
            margin-top: calc(var(--baseline)*1);
            p, ul, ul li { display: inline-block; }

            a{ color: currentColor; }

            ul li{
                padding-left: calc(var(--unit)*2);
                @include trait();  
                &:hover::before{ transform: rotate(4deg); }    
                &:hover{ text-decoration: underline ;}                         
            }
            
        }
    }

    #actions {
        width: 100%;
        max-width: var(--width-block-home);
       
    }




}



/* ------------------------------------------------------------------------------ */
// #feed-tweeter{
//     float: right;
//     border: 2px solid var(--color);
//     border-radius: 5px;
//     margin: 20px 20px;
// }

// .section-home{
//     width: calc(100% - var(--twitter));
//     .container{
//         margin: 140px auto;
//     }

//     .section-title{
//         font-family: var(--font);
//         font-size: 34px;
//         font-weight: 800;
//         color: var(--color);
//         text-align: left;
//     }
// }



