
#home-page{

    .container-main{
        width: calc(100% - var(--twitter));
    }
   


    

}

/* ------------------------------------------------------------------------------ */
#feed-tweeter{
    float: right;
    border: 2px solid var(--color);
    border-radius: 5px;
    margin: 20px 20px;
}

// .section-home{
//     width: calc(100% - var(--twitter));
//     .container{
//         margin: 140px auto;
//     }

//     .section-title{
//         font-family: var(--font);
//         font-size: 34px;
//         font-weight: 800;
//         color: var(--color);
//         text-align: left;
//     }
// }



