body{
    --max-width-list: 63ch;
}


main {
    margin-left: var(--width-header);
    .container-main { 
        // margin: 0 auto; 
        padding: var(--unit);
        padding-top: var(--margin-top);
    }
}


#main-actions 


#page-page{ 
    --current-color: var(--color-1);
    color: var(--current-color);
 }
#page-actions{ 
    --current-color: var(--color-3);
    color: var(--current-color);
    .container-main {
        max-width: var(--max-width-list);
    }
 }
#page-breves{ 
    --current-color: var(--color-8);
    color: var(--current-color);
    .container-main {
        max-width: 1100px;
    }
    .title-list{
        padding-right: calc(var(--baseline)*2);
    }
}



.title-list{
    font-size: var(--font-size);
    font-weight: 500;
    position: relative;
    top: 4px;
    margin: 0;
    padding: 0;
    margin-bottom: calc(var(--baseline)*4);
    color: var(--current-color);

    left: 100px;
    @include trait(); 
    


    // text-align: right;
    // &::after{
    //     content: "";
    //     display: inline-block;
    //     width: calc(100% + 20px);
    //     height: calc(var(--baseline)*1);
    //     background-color: var(--current-color);
    //     position: relative;
    //     left: -10px;
    //     top: calc(-1*var(--baseline));
    //     z-index: -1;
    //     opacity: 0.2;
    // }

    // &::after{
    //     content: "";
    //     display: inline-block;
    //     width: 100%;
    //     border-bottom: 2px solid var(--current-color);
    //     opacity: 0.3;
    //     transform: rotate(-2deg);
    //     padding-top: calc(var(--baseline)*3);
    // }

}