body{
    --max-width-list: 64ch;
    --max-width-content: 76ch;
}


main {

    @media screen and (max-width: 800px){
        margin-top: calc(var(--baseline)*10);
    }
    @media screen and (min-width: 800px){
        margin-left: var(--width-header);
        margin-top: calc(var(--baseline)*3);
    }
   
    min-height: calc(100vh - 230px);
    .container-main { 
        // margin: 0 auto; 
        padding: var(--unit);
        padding-top: calc(var(--baseline)*4);
      
    }
}





#page-breves{ 
    .container-main { max-width: 1100px; }
}



.title-list{
    z-index: 9999;
    font-size: var(--font-size);
    font-weight: 500;
    position: absolute;
    top: -2px;
    @media screen and (min-width: 800px){ left: 130px; }
    @media screen and (min-width: 1230px){ left: 20px; }
    @media screen and (min-width: 1680px){ left: 12px; }
    margin: 0;
    padding: 0;
    a{ color: var(--current-color);}
    color: var(--current-color);

    
    @include trait(2px); 
    

}