body{
    --navigation: 98px;
}



header#header{
    position: fixed;
    transition: .3s ease;
    width: 30vw;
    height: 100vh;
    // background-color: yellow;


    #header-logo {
        
        span {
            // width: 160px;
            
            position: absolute;
        }
    
        svg{
            width: 100%;
        }

        p {
            position: absolute;
            // font-size: 18px;
            // top: 34px;
            // left: 23px;
            white-space: nowrap;
        }
            
    }


}


#navigation{
    position: absolute;
    left: 60px;
    top: 230px;
}


.header-small{
    

    #header-logo {
        left: 40px;
        top: 40px;

        span {
            width: 160px;
        }
    
        p{
            font-size: 18px;
            top: 34px;
            left: 23px;
        }
    }
}

.header-big {
    

    #header-logo {
        left: 40px;
        top: 100px;
    

        span {
            width: 260px!important;
        }
    
        p{
            font-size: 32px!important;
            top: 67px!important;
            left: 34px!important;
        }
    }

}




#navigation{
    // background-color: red!important;
    ul{
        li{
            margin-right: calc(var(--baseline)*2);
            font-size: calc(var(--font-size)*0.8);
            font-weight: 400;
            letter-spacing: 0.7px;;
            text-transform: uppercase;
        }
     
       
    }
}








 /* on scoll */
  header.navigation.nav-bg .navbar {
    padding: 10px calc(var(--baseline)*3);
  }
  
  @media(max-width:991px) {
    .navigation.nav-bg {
      padding: 15px 20px
    }
  }
  
  @media(max-width:991px) {
    .navigation {
      padding: 20px;
      background: var(--primary-color)
    }
  }
  
  