.programme{
    h2{
        @include for-size(desktop) {
            display: inline-block;
            position: relative;
            top: calc(var(--baseline)*1.5);
            margin: 0!important;
        }
        @include for-size(desktop) {
            margin-top: calc(var(--baseline)*1.5);
            margin-bottom: calc(var(--baseline)*0.5);
        }
        font-weight: normal!important;
        border: 1px dotted currentColor;
        border-radius: 3px;
        padding: 5px 10px 2px 10px;

    }

    h3{
        text-decoration: none!important;
        font-weight: 500!important;
        margin-top: calc(var(--baseline)*0.5)!important;
        padding-left: 0;
    }
   
    h4{
        margin-bottom: calc(var(--baseline)*0.5)!important;
    }
    
    @include for-size(desktop) {
        h3{
            padding-left: 12ch!important;
        }
        h4, h5, p, ul {
            padding-left: 12.5ch!important;
        }
    }

}