{{ define "main" }}

  {{ partial "page-title.html" . }}

  <section class="section" id="section-post-single">
    <div class="container">
          <h1>{{.Title}}</h3>
          <p id="date">Publié le {{ .PublishDate.Format "Jan 02, 2006" }}</span></p>
          <div class="category-container">
            <!-- <p class="group">
              {{ if eq .Params.category ""}}
              {{ end }}
            </p> -->
            <p class="category">{{ .Params.category }}</p>
          </div>
          <div class="description"><p>{{.Description }}</p></div>
          <div class="content">
            {{.Content }}
          </div>
    </div>
  </section>

{{ end }}