{{ define "main" }}

<h1 class="title-list">L'association</h1>

<div class="container-main">

  <!-- about -->
  <section id="about-content" class="content">
    <div class="container">
      {{ .Content }}
    </div>
  </section>
  <!-- /about -->

  <section id="bureaux" class="content">

    <h1>Composition des bureaux</h1>
    <div class="title"></div>

    {{ if .Site.Data.bureaux.year2024.enable }}
    {{ with .Site.Data.bureaux.year2024 }}
    <article class="bureau">
      <h1>{{ .title | markdownify }}</h1>
      <ul>
        {{ range .item }}
        <li>
          <span class="member">
            {{ if .url }}<a href="/membres/{{ .url }}">{{ .member | markdownify }}</a>{{ else }}{{ .member | markdownify }}{{ end }}</span>,
          {{ .role | markdownify }}
        </li>
        {{ end }}
      </ul>
    </article>
    {{ end }}
    {{ end }}

    {{ if .Site.Data.bureaux.year2023.enable }}
    {{ with .Site.Data.bureaux.year2023 }}
    <article class="bureau">
      <h1>{{ .title | markdownify }}</h1>
      <ul>
        {{ range .item }}
        <li>
          <span class="member">
            {{ if .url }}<a href="/membres/{{ .url }}">{{ .member | markdownify }}</a>{{ else }}{{ .member | markdownify }}{{ end }}</span>,
          {{ .role | markdownify }}
        </li>
        {{ end }}
      </ul>
    </article>
    {{ end }}
    {{ end }}

    {{ if .Site.Data.bureaux.year2022.enable }}
    {{ with .Site.Data.bureaux.year2022 }}
    <article class="bureau">
      <h1>{{ .title | markdownify }}</h1>
      <ul>
        {{ range .item }}
        <li>
          <span class="member">
            {{ if .url }}<a href="/membres/{{ .url }}">{{ .member | markdownify }}</a>{{ else }}{{ .member | markdownify }}{{ end }}</span>,
          {{ .role | markdownify }}
        </li>
        {{ end }}
      </ul>
    </article>
    {{ end }}
    {{ end }}

    {{ if .Site.Data.bureaux.year2021.enable }}
    {{ with .Site.Data.bureaux.year2021 }}
    <article class="bureau">
      <h1>{{ .title | markdownify }}</h1>
      <ul>
        {{ range .item }}
        <li>
          <span class="member">
            {{ if .url }}<a href="/membres/{{ .url }}">{{ .member | markdownify }}</a>{{ else }}{{ .member | markdownify }}{{ end }}</span>,
          {{ .role | markdownify }}
        </li>
        {{ end }}
      </ul>
    </article>
    {{ end }}
    {{ end }}

    {{ if .Site.Data.bureaux.year2020.enable }}
    {{ with .Site.Data.bureaux.year2020 }}
    <article class="bureau">
      <h1>{{ .title | markdownify }}</h1>
      <ul>
        {{ range .item }}
        <li>
          <span class="member">
            {{ if .url }}<a href="/membres/{{ .url }}">{{ .member | markdownify }}</a>{{ else }}{{ .member | markdownify }}{{ end }}</span>,
          {{ .role | markdownify }}
        </li>
        {{ end }}
      </ul>
    </article>
    {{ end }}
    {{ end }}

    {{ if .Site.Data.bureaux.year2019.enable }}
    {{ with .Site.Data.bureaux.year2019 }}
    <article class="bureau">
      <h1>{{ .title | markdownify }}</h1>
      <ul>
        {{ range .item }}
        <li>
          <span class="member">
            {{ if .url }}<a href="/membres/{{ .url }}">{{ .member | markdownify }}</a>{{ else }}{{ .member | markdownify }}{{ end }}</span>,
          {{ .role | markdownify }}
        </li>
        {{ end }}
      </ul>
    </article>
    {{ end }}
    {{ end }}

    {{ if .Site.Data.bureaux.year2018.enable }}
    {{ with .Site.Data.bureaux.year2018 }}
    <article class="bureau">
      <h1>{{ .title | markdownify }}</h1>
      <ul>
        {{ range .item }}
        <li>
          <span class="member">
            {{ if .url }}<a href="/membres/{{ .url }}">{{ .member | markdownify }}</a>{{ else }}{{ .member | markdownify }}{{ end }}</span>,
          {{ .role | markdownify }}
        </li>
        {{ end }}
      </ul>
    </article>
    {{ end }}
    {{ end }}

    {{ if .Site.Data.bureaux.year2017.enable }}
    {{ with .Site.Data.bureaux.year2017 }}
    <article class="bureau">
      <h1>{{ .title | markdownify }}</h1>
      <ul>
        {{ range .item }}
        <li>
          <span class="member">
            {{ if .url }}<a href="/membres/{{ .url }}">{{ .member | markdownify }}</a>{{ else }}{{ .member | markdownify }}{{ end }}</span>,
          {{ .role | markdownify }}
        </li>
        {{ end }}
      </ul>
    </article>
    {{ end }}
    {{ end }}

    {{ if .Site.Data.bureaux.year2016.enable }}
    {{ with .Site.Data.bureaux.year2016 }}
    <article class="bureau">
      <h1>{{ .title | markdownify }}</h1>
      <ul>
        {{ range .item }}
        <li>
          <span class="member">
            {{ if .url }}<a href="/membres/{{ .url }}">{{ .member | markdownify }}</a>{{ else }}{{ .member | markdownify }}{{ end }}</span>,
          {{ .role | markdownify }}
        </li>
        {{ end }}
      </ul>
    </article>
    {{ end }}
    {{ end }}

    {{ if .Site.Data.bureaux.year2015.enable }}
    {{ with .Site.Data.bureaux.year2015 }}
    <article class="bureau">
      <h1>{{ .title | markdownify }}</h1>
      <ul>
        {{ range .item }}
        <li>
          <span class="member">
            {{ if .url }}<a href="/membres/{{ .url }}">{{ .member | markdownify }}</a>{{ else }}{{ .member | markdownify }}{{ end }}</span>,
          {{ .role | markdownify }}
        </li>
        {{ end }}
      </ul>
    </article>
    {{ end }}
    {{ end }}

    {{ if .Site.Data.bureaux.year2014.enable }}
    {{ with .Site.Data.bureaux.year2014 }}
    <article class="bureau">
      <h1>{{ .title | markdownify }}</h1>
      <ul>
        {{ range .item }}
        <li>
          <span class="member">
            {{ if .url }}<a href="/membres/{{ .url }}">{{ .member | markdownify }}</a>{{ else }}{{ .member | markdownify }}{{ end }}</span>,
          {{ .role | markdownify }}
        </li>
        {{ end }}
      </ul>
    </article>
    {{ end }}
    {{ end }}

  </section>

</div>




{{ end }}