{{ define "main" }}


<!-- about -->
<section>
  <div class="container">
        {{ .Content }}
  </div>
</section>
<!-- /about -->

<!-- Work Process -->
{{ if .Site.Data.bureaux.year2019.enable }}
{{ with .Site.Data.bureaux.year2019 }}
<article class="bureau">
      <h1>{{ .title | markdownify }}</h1>
      {{ range .item }}
        <p><span class="member">{{ .member | markdownify }}</span>, {{ .role | markdownify }}</p>
      {{ end }}
</articlen>
{{ end }}
{{ end }}
<!-- ./Work Process -->




{{ end }}