<!-- footer -->
<footer id="footer">
  
  <ul>
    {{ range .Site.Params.social }}
    <li><a target="_blank" href="{{.URL | safeURL }}"><span class="icon-svg" aria-hidden="true">{{ .icon | safeHTML }}</span>{{.title }}</a></li>
    {{ end }}
  </ul>

<p>{{ .Site.Params.mail | safeHTML }}</p>
<p>{{ .Site.Params.credits | safeHTML }}</p>
</footer>
<!-- /footer -->

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
<script src="{{ .URL | absURL }}"></script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>

