<header id="header" class="header-small">
  

    <div id="header-logo" aria-label="Design en Recherche, le réseau des jeunes chercheurs en design">
      <span aria-hidden="true">{{ partial "logo/DER-logo_haut.html" . | safeHTML}}</span>
      <span aria-hidden="true">{{ partial "logo/DER-logo_bas.html" . | safeHTML}}</span>
      <!-- <p aria-hidden="true">{{ .Site.Data.homepage.banner.subtitle | safeHTML }}</p> -->
      <!-- <img src="{{ .Site.Params.logo | absURL }}" alt="{{.Site.Title}}"> -->
    </div>


    <!-- <nav class="navbar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
      aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->

  

    <div id="navigation">
      <ul>
        <li>
          <a href="{{ .Site.BaseURL }}">{{ with .Site.Params.Home }} {{ . }} {{ end }}</a>
        </li>
        {{ $current := . }}
        {{ range .Site.Menus.main }}
        {{ $active := or ($current.IsMenuCurrent "nav" .) ($current.HasMenuCurrent "nav" .) }}
        {{ $active = or $active (eq .Name $current.Title) }}
        {{ if .HasChildren }}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            {{ .Name }}
          </a>
          <div class="dropdown-menu">
            {{ range .Children }}
            <a class="dropdown-item" href="{{ .URL | absURL }}">{{ .Name }}</a>
            {{ end }}
          </div>
        </li>
        {{ else }}
        <li class="{{ if $active }}active{{ end }}">
          <a href="{{ .URL | absURL }}">{{ .Name }}</a>
        </li>
        {{ end }}
        {{ end }}
      </ul>
    </div>
  </nav>

  



</header>
