<header id="header" class="header-small">
  <input 	type="checkbox" id="toggle-menu" name="toggle-menu" value="menu-visibility" hidden />
  <label aria-label="open-close-menu" id="label-toggle-menu" for="toggle-menu" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
    <span id="logo-small" aria-hidden="true">{{ partial "logo/DER-logo_small.html" . | safeHTML}}</span>
    <p id="close-menu">&times;</p>
  </label>

    <div id="header-logo" aria-label="Design en Recherche, le réseau des jeunes chercheurs en design">     
      <div id="logo" aria-hidden="true">{{ partial "logo/DER-logo_all.html" . | safeHTML}}</div>
      <h1><a href="{{ .Site.BaseURL }}">Design en recherche</a></h1> 
    </div>


    <div id="navigation">
    
      <ul>
        <li>
          <a href="{{ .Site.BaseURL }}">{{ with .Site.Params.Home }} {{ . }} {{ end }}</a>
        </li>
        {{ $current := . }}
        {{ range .Site.Menus.main }}
        {{ $active := or ($current.IsMenuCurrent "nav" .) ($current.HasMenuCurrent "nav" .) }}
        {{ $active = or $active (eq .Name $current.Title) }}
        {{ if .HasChildren }}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            {{ .Name }}
          </a>
          <div class="dropdown-menu">
            {{ range .Children }}
            <a class="dropdown-item" href="{{ .URL | absURL }}">{{ .Name }}</a>
            {{ end }}
          </div>
        </li>
        {{ else }}
        <li class="{{ if $active }}active{{ end }}">
          <a href="{{ .URL | absURL }}">{{ .Name }}</a>
        </li>
        {{ end }}
        {{ end }}
      </ul>
    </div>
  </nav>

  



</header>

<p id="baseline" aria-hidden="true">{{ .Site.Params.subtitle | safeHTML }}</p>
