{{ define "main" }}




<p id="baseline" aria-hidden="true">{{ .Site.Params.subtitle | safeHTML }}</p>


  <section id="about" class="section-home">
    <div class="container-about">
      {{ if .Site.Data.homepage.about.enable }}

      {{ with .Site.Data.homepage.about }}
      <p>{{.content | markdownify}}</p>
      {{ end }}

      <div class="social">
        Nous sommes actifs sur
        
        <ul>
          {{ range .Site.Params.social }}
          <li><a href="{{.URL | safeURL }}">{{.title }}</a></li>
          {{ end }}
        </ul>
        
      </div>
      
      {{ end }}




  </section>


  <div class="container-main">






    <!-- {{ if .Site.Data.homepage.twitter_feed.enable }}
<aside id="feed-tweeter" role="complementary">
<a class="twitter-timeline" data-width="300" data-theme="light" href="https://twitter.com/DesignRecherche?ref_src=twsrc%5Etfw">Tweets by DesignRecherche</a> 
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</aside> 
{{ end }} -->




    {{ if .Site.Data.homepage.actions.enable }}
    <!-- Actions-->
    <section id="actions" class="section-home">
      <div class="container">



        <div class="highlights">
          
          {{ if .Site.Data.homepage.beer.enable }}
          {{ with .Site.Data.homepage.beer }}
          <article>
            <span aria-hidden="true">{{ partial "icons/beer.html" . | safeHTML}}</span>
            <h1>{{ .title }}</h1>
            <p class="date">{{ .date }}</p>
            <p class="lieu">{{ .lieu }}</p>
            <p class="summary">{{ .summary }}</p>  
          </article>
          {{ end }}
          {{ end }}

          {{ if .Site.Data.homepage.instagramresidence.enable }}
          {{ with .Site.Data.homepage.instagramresidence }}
          <article>
            <span aria-hidden="true">{{ partial "icons/insta-coeur.html" . | safeHTML}}</span>
            <h1>{{ .title }}</h1>
            <p class="instagram">{{ .membre }} </p>
            <p class="summary">{{ .summary }}</p>  
            <a class="more" target="_blank" href="{{ .link }}">Toutes les résidences Instagram</a>
          </article>
          {{ end }}
          {{ end }}

        </div>

        <div class="actions">
          {{ with .Site.GetPage "section" "actions" }}
          {{ range first 3 .Pages.ByDate.Reverse }} 
          {{ .Render "post" }}
          {{ end }}
          {{ end }}
        </div>
      </div>
    </section>
    <!-- Actions -->
    {{ end }}







    {{ if .Site.Data.homepage.breves.enable }}
    <!-- breves -->
    <section id="breves" class="section-home">
      <div class="container">

          <h1 class="section-title">{{.Site.Data.homepage.breves.title | markdownify }}</h1>
          <a class="link-archive" aria-label="Voir les archives des brèves" href="#">Archives</a>
          
          <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": ".grid-sizer", "percentPosition": true }'>
            <div class="grid-sizer"></div>
            {{ with .Site.GetPage "section" "breves" }}
            {{ range first 8 .Pages.ByDate.Reverse }}
            {{ .Render "breves" }}
            {{ end }}
            {{ end }}
          </div>
      </div>
    </section>
    <!-- /breves -->
    {{ end }}












  </div>

{{ end }}