{{ define "main" }}
 
<div id="cache">
  <h1>Design en recherche</h1>
    <p>Notre site se refait une beauté,<br>
    on revient très vite :)</p>
    <p>En attendant, retrouvez-nous sur les réseaux sociaux: </p>
    <ul>
      {{ range .Site.Params.social }}
      <li><a target="_blank" href="{{.URL | safeURL }}"><span class="icon-svg" aria-hidden="true">{{ .icon | safeHTML }}</span>{{.title }}</a></li>
      {{ end }}
    </ul>
    <p class="contact">Contact: designenrecherche@gmail.com – <a href="https://www.helloasso.com/associations/design-en-recherche-le-reseau-des-jeunes-chercheurs-en-design">Adhérer</a></p> 
</div> 
<!-- document.getElementById("cache").style.display="none" -->



{{ if .Site.Data.homepage.aboutHome.enable }}
  <section id="about" class="section-home">
    <div class="container-about">
      

      <h1 class="section-title"><a href="{{ .Site.Data.homepage.about.URL }}">{{ .Site.Data.homepage.aboutHome.title }}</a></h1>

      {{ with .Site.Data.homepage.aboutHome }}
      <p>{{.content | markdownify}}</p>
      {{ end }}

      {{ if .Site.Data.homepage.aboutHome.socials.enable }}
      <p class="socials-baseline">{{ .Site.Data.homepage.aboutHome.socials.baseline }}</p>
        
        <ul class="socials">
          {{ range .Site.Params.social }}
          <li><span class="icon-svg" aria-hidden="true">{{ .icon | safeHTML }}</span><a target="_blank" href="{{.URL | safeURL }}">{{.title }}</a></li>
          {{ end }}
        </ul>
        {{ end }}

        <button><a href="{{ .Site.Data.homepage.about.URL }}">{{ .Site.Data.homepage.aboutHome.button }}</a></button>
        
        </div>

  </section>
  {{ end }}




  {{ if .Site.Data.homepage.membres.enable }}
  <section id="membres" class="section-home">
    <div class="container">

      <div class="container-grid">
      {{ with .Site.GetPage "section" "membres" }}
      {{ range .Pages }} 
      {{ if .Params.membre_actif }}
      <article data-membre="{{ .Title }}">
        <figure>
          <a href="{{.Permalink}}"  alt="{{ .Title }}">
          {{ if .Params.photo }}<img src="{{ .Params.photo }}">{{ end }}
          </a>
        </figure>
      </article>
      {{ end }}
      {{ end }}
      {{ end }}



      </div>
      <button><a href="{{ .Site.Data.homepage.membres.URL }}">{{ .Site.Data.homepage.membres.button }}</a></button>

    </div>
    </section>

  {{ end }}

    <!-- {{ if .Site.Data.homepage.twitter_feed.enable }}
<aside id="feed-tweeter" role="complementary">
<a class="twitter-timeline" data-width="300" data-theme="light" href="https://twitter.com/DesignRecherche?ref_src=twsrc%5Etfw">Tweets by DesignRecherche</a> 
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</aside> 
{{ end }} -->




    {{ if .Site.Data.homepage.actions.enable }}
    <!-- Actions-->
    <section id="actions" class="section-home">
      <div class="container">

        <h1 class="section-title"><a href="{{ .Site.Data.homepage.actions.URL }}">{{ .Site.Data.homepage.actions.title }}</a></h1>

      
        <div class="highlights-actions">
          
          {{ if .Site.Data.biere_home.beer.enable }}
          {{ with .Site.Data.biere_home.beer }}
          <article>
            <span aria-hidden="true">{{ partial "icons/beer.html" . | safeHTML}}</span>
            <h1>{{ .title }}</h1>
            <p class="date">{{  .date }}</p>
            <p class="lieu">{{ .lieu }}</p>
            <p class="summary">{{.summary}}</p>
          </article>
          {{ end }}
          {{ end }}

          {{ if .Site.Data.instagram_home.instagramresidence.enable }}
          {{ with .Site.Data.instagram_home.instagramresidence }}
          <article>
            <span aria-hidden="true">{{ partial "icons/insta-coeur.html" . | safeHTML}}</span>
            <h1>{{ .title }}</h1>
            <p class="summary">{{ .summary }}</p>  
            <p class="instagram">{{ .mois }}&#8239;: {{ .membre }} </p>
            <a class="more" target="_blank" href="{{ .link }}">{{ .titleLink }}</a>
          </article>
          {{ end }}
          {{ end }}

        </div>

        <div class="actions">
          {{ with .Site.GetPage "section" "actions" }}
          {{ range first 3 .Pages.ByDate.Reverse }} 
          {{ .Render "post" }}
          {{ end }}
          {{ end }}
        </div>

        <button><a href="{{ .Site.Data.homepage.actions.URL }}">{{ .Site.Data.homepage.actions.button }}</a></button>
      </div>
    </section>
    <!-- Actions -->
    {{ end }}







    {{ if .Site.Data.homepage.breves.enable }}
    <!-- breves -->
    <section id="breves" class="section-home">
      <div class="container">

          <h1 class="section-title"><a href="/{{.Site.Data.homepage.breves.URL }}">{{.Site.Data.homepage.breves.title | markdownify }}</a></h1>
          <!-- <a class="link-archive" aria-label="Voir les archives des brèves" href="/{{.Site.Data.homepage.breves.URL }}">Archives</a> -->
          
          <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": ".grid-sizer", "percentPosition": true }'>
            <div class="grid-sizer"></div>
            {{ with .Site.GetPage "section" "breves" }}
            {{ range first 8 .Pages.ByDate.Reverse }}
            {{ .Render "post" }}
            {{ end }}
            {{ end }}
          </div>

          <button><a href="{{ .Site.Data.homepage.breves.URL }}">{{ .Site.Data.homepage.breves.button }}</a></button>
      </div>
    </section>
    <!-- /breves -->
    {{ end }}






{{ end }}

